@import '../_main.scss';
.odi-content {
    --odi-iconfont: "Material Icons Outlined";
    --odi-color1: #2254F4;
    --odi-color2: #178CFF;
    --odi-color3: #00B6FF;
    --odi-color4: #08DEF9;
    --odi-color5: #1DD3A7;
    --odi-color6: #0DBC37;
    --odi-color7: #67EE67;
    --odi-color9: #C0E236;
    --odi-color10: #F9BC26;
    --odi-color11: #FF6700;
    --odi-color12: #D60303;
    --odi-color13: #D73058;
    --odi-color14: #EF3AAB;
    --odi-color15: #E6007C;
    --odi-color16: #B13198;
    --odi-color17: #722EA5;
    --odi-color18: #000000;
    --odi-color19: #333333;
    --odi-color20: #999999;
    --odi-color21: #2F529F;
    --odi-color22: #00ACE8;
    --odi-color23: #7DC5EA;

    --odi-color24: #eeeeee;
}