.odi-content {

	.tabbed {
		overflow-x: hidden;
		/* so we could easily hide the radio inputs */
		margin: var(--spacer-half) 0;

		>fieldset {
			border: 0;
			margin: 0;
			padding: 0;

			>legend {
				position: absolute;
				clip: rect(0 0 0 0);
			}
		}

	}

	.tabbed [type="radio"] {
		/* hiding the inputs */
		display: none;
	}

	.tabs {
		display: flex;
		align-items: stretch;
		list-style: none;
		padding: 0;
		margin-left: 0;
		margin-top: 0;
	}

	.tab>label {
		display: block;
		margin-bottom: 0;
		padding: 12px 15px;
		background: var(--odi-color20);
		font-size: 1.2rem;
		font-weight: normal;
		//letter-spacing: 1px;
		cursor: pointer;
		border-right: 1px solid var(--odi-color24);

		:last-child {
			border-right: 0;
			;
		}
	}

	.tabs>.tab:first-of-type label {
		border-top-left-radius: 2px;
	}

	.tabs>.tab:last-of-type label {
		border-top-right-radius: 2px;
	}

	.tab:hover label {
		background-color: var(--odi-color21);
		color: #333;
		color: white;
	}

	.tab-content {
		display: none;
		background-color: white;
		margin-top: -1rem;
		padding: 2rem;
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
	}

	/* As we cannot replace the numbers with variables or calls to element properties, the number of this selector parts is our tab count limit */
	.tabbed [type="radio"]:nth-of-type(1):checked~.tabs .tab:nth-of-type(1) label,
	.tabbed [type="radio"]:nth-of-type(2):checked~.tabs .tab:nth-of-type(2) label,
	.tabbed [type="radio"]:nth-of-type(3):checked~.tabs .tab:nth-of-type(3) label,
	.tabbed [type="radio"]:nth-of-type(4):checked~.tabs .tab:nth-of-type(4) label,
	.tabbed [type="radio"]:nth-of-type(5):checked~.tabs .tab:nth-of-type(5) label,
	.tabbed [type="radio"]:nth-of-type(6):checked~.tabs .tab:nth-of-type(6) label,
	.tabbed [type="radio"]:nth-of-type(7):checked~.tabs .tab:nth-of-type(7) label,
	.tabbed [type="radio"]:nth-of-type(8):checked~.tabs .tab:nth-of-type(8) label,
	.tabbed [type="radio"]:nth-of-type(9):checked~.tabs .tab:nth-of-type(9) label,
	.tabbed [type="radio"]:nth-of-type(10):checked~.tabs .tab:nth-of-type(10) label {
		background: white;
		color: inherit;
	}

	.tabbed [type="radio"]:nth-of-type(1):checked~.tab-content:nth-of-type(1),
	.tabbed [type="radio"]:nth-of-type(2):checked~.tab-content:nth-of-type(2),
	.tabbed [type="radio"]:nth-of-type(3):checked~.tab-content:nth-of-type(3),
	.tabbed [type="radio"]:nth-of-type(4):checked~.tab-content:nth-of-type(4),
	.tabbed [type="radio"]:nth-of-type(5):checked~.tab-content:nth-of-type(5),
	.tabbed [type="radio"]:nth-of-type(6):checked~.tab-content:nth-of-type(6),
	.tabbed [type="radio"]:nth-of-type(7):checked~.tab-content:nth-of-type(7),
	.tabbed [type="radio"]:nth-of-type(8):checked~.tab-content:nth-of-type(8),
	.tabbed [type="radio"]:nth-of-type(9):checked~.tab-content:nth-of-type(9),
	.tabbed [type="radio"]:nth-of-type(10):checked~.tab-content:nth-of-type(10) {
		display: block;
	}
}